<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- * BOOTSTRAP CSS -->
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
    />
    <!-- * CUSTOM CSS -->
    <link th:rel="stylesheet" th:href="@{/style.css}" />
    <title>[[${category}]] detail</title>
  </head>
  <body>
    <header>
      <th:block th:insert="~{fragments :: navbar}"> </th:block>
    </header>
    <main>
      <div class="container">
        <h1 class="text-center my-5">[[${category}]] detail</h1>
        <div th:if="${content != null}">
          <h2 class="text-center mb-3">[[${content}]]</h2>
          <p class="w-50 m-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non,
            consectetur enim mollitia ad soluta, consequatur iure debitis
            laudantium nemo culpa ipsum molestiae illo nulla perferendis
            voluptatum, minima cum error aliquam?
          </p>
        </div>
        <div>
          <h2 th:unless="${content != null}" class="text-center">
            No media found
          </h2>
        </div>
      </div>
    </main>
    <footer></footer>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
  </body>
</html>
